<?xml version="1.0"?>

<spark>
	<compilation debug="true" nullBehaviour="Strict">
		<assemblies>
			<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add assembly="HtmlTags.UI" />
		</assemblies>
	</compilation>
	<pages automaticEncoding="true" pageBaseType="UISkeleton.Infrastructure.MySparkView">
		<namespaces>
			<add namespace="System" />
			<add namespace="System.Collections.Generic" />
			<add namespace="System.Linq" />
			<add namespace="System.Linq.Expressions" />
			<add namespace="System.Web.Mvc" />
			<add namespace="System.Web.Mvc.Html" />
			<add namespace="System.Web.Mvc.Ajax" />
			<add namespace="System.Web.Script.Serialization" />
			<add namespace="HtmlTags" />
			<add namespace="HtmlTags.Extensions" />
			<add namespace="HtmlTags.Extensions.Mvc" />
			<add namespace="HtmlTags.UI" />
			<add namespace="HtmlTags.UI.Helpers" />
		  <add namespace="Accountability.Infrastructure" />
		  <add namespace="Accountability.Home" />
		</namespaces>
	</pages>
</spark>