<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" />
  <package id="DotNetExtensions-Base" version="1.1.4199.28849" />
  <package id="DotNetExtensions-HtmlTags" version="0.4.6" />
  <package id="DotNetExtensions-UiConventions" version="2.1.4199.41827" />
  <package id="DynamicQuery" version="1.0" />
  <package id="GotFour.Windsor" version="1.1.4311.30130" />
  <package id="log4net" version="1.2.10" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MVC-JoinedFilter" version="1.1.4177.31311" />
  <package id="MVC-JoinedFilter.Windsor" version="1.1.4177.31549" />
  <package id="PagedList" version="1.2.4.0" />
  <package id="Rx-Main" version="1.0.10621" />
  <package id="Spark" version="1.6" />
  <package id="Spark.Web.Mvc3" version="1.6" />
  <package id="WebActivator" version="1.4.4" />
</packages>